services:
  backend:
    build: ./backend
    container_name: api-projeto-forms
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: frontend-projeto-forms
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
    command: npm start -- --host 0.0.0.0
    depends_on:
      - backend
